[submodule "Blender-Autumn-Leaves-Rain"]
	path = Blender-Autumn-Leaves-Rain
	url = https://github.com/NEO1842/Blender-Autumn-Leaves-Rain
[submodule "Blender-Fireworks"]
	path = Blender-Fireworks
	url = https://github.com/NEO1842/Blender-Fireworks
[submodule "Blender-Random-Dot-Pattern"]
	path = Blender-Random-Dot-Pattern
	url = https://github.com/NEO1842/Blender-Random-Dot-Pattern
[submodule "Blender-Glowing-Leaves"]
	path = Blender-Glowing-Leaves
	url = https://github.com/NEO1842/Blender-Glowing-Leaves
[submodule "Blender-Cybercore"]
	path = Blender-Cybercore
	url = https://github.com/NEO1842/Blender-Cybercore
