[submodule "Blender-Autumn-Leaves-Rain"]
	path = Blender-Autumn-Leaves-Rain
	url = https://github.com/NEO1842/Blender-Autumn-Leaves-Rain
[submodule "Blender-Fireworks"]
	path = Blender-Fireworks
	url = https://github.com/NEO1842/Blender-Fireworks
[submodule "Blender-Random-Dot-Pattern"]
	path = Blender-Random-Dot-Pattern
	url = https://github.com/NEO1842/Blender-Random-Dot-Pattern
[submodule "Blender-Glowing-Leaves"]
	path = Blender-Glowing-Leaves
	url = https://github.com/NEO1842/Blender-Glowing-Leaves
[submodule "Blender-Cybercore"]
	path = Blender-Cybercore
	url = https://github.com/NEO1842/Blender-Cybercore
[submodule "Blender-Mysterious"]
	path = Blender-Mysterious
	url = https://github.com/NEO1842/Blender-Mysterious
[submodule "Submodule-Forge"]
	branch = main
[submodule "Blender-Nebula-Gas-Cloud"]
	path = Blender-Nebula-Gas-Cloud
	url = https://github.com/NEO1842/Blender-Nebula-Gas-Cloud
[submodule "Blender-Fire-Energy-Sphere"]
	path = Blender-Fire-Energy-Sphere
	url = https://github.com/NEO1842/Blender-Fire-Energy-Sphere
[submodule "Blender-Force"]
	path = Blender-Force
	url = https://github.com/NEO1842/Blender-Force
